.slider{
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 15px;
    flex-grow: 1;
    align-items: center;
    margin-left: 80px;
    
}

.slider img{
    border-radius: 35px;
    width: 1020px;
    height: 500px;
   
}
.slider video{
    border-radius: 25px;
        width: 1020px;
        height: 500px;
}


.left,
.right {
      width: 20px;
      height: 20px;
      cursor: pointer;
}

.left{
    border-top: 4px solid rgb(212, 212, 206);
    border-left:4px solid rgb(212, 212, 206);
    transform: rotate(-45deg);  
}
.left:hover {
    border-top: 4px solid rgb(217, 103, 16);
    border-left: 4px solid rgb(217, 103, 16);
}

.right{
    border-top: 4px solid rgb(212, 212, 206);
    border-right: 4px solid rgb(212, 212, 206);
    transform: rotate(45deg);
}

.right:hover {
    border-top: 4px solid rgb(217, 103, 16);
    border-right: 4px solid rgb(217, 103, 16);
 
}

@media (max-width: 390px){
    .slider{
        width: 100%;   
        padding-left: 120px;
    }
    
    .slider img{
        width: 130%;
        height: 10%;
    }

    .right{
        width: 30px;
        height: 30px;  
    }

  }
  
  @media (min-width: 768px) {
    .slider{
        width: 100%;   
    }
    
    .slider img{
       margin-left: 600px;
        width: 120%;
        height: 10%;  
    }
  }
  
  /* Устройства со средним экраном (ноутбуки и компьютеры, 992px и выше) */
  @media (min-width: 992px) {
    .slider{
        width: 100%;   
    }
    
    .slider img{
       margin-left: 650px;
        width: 110%;
        height: 10%;  
    }
  }
  
  /* Устройства с большим экраном (компьютеры, 1200px и выше) */
  @media (min-width: 1200px) {
  
    }

